version: '3.8'

services:
  backend:
    image: ghcr.io/sajxx/portfolio-sajxx/backend:latest
    ports:
      - "5000:5000"
    secrets:
      - MONGODB_URI
      - JWT_SECRET
      - ADMIN_PASSWORD
      - SMTP_USER
      - SMTP_PASS
    environment:
      - NODE_ENV=production
      - REQUEST_LIMIT=5mb
      - CORS_ORIGIN=https://portfolio-sajxx.vercel.app
      - JWT_EXPIRES_IN=7d
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_SECURE=false
      - CONTACT_NOTIFICATION_EMAIL=sajinsajxx@gmail.com
      - CONTACT_RATE_LIMIT=10
      - SMTP_FROM=sajinsajxx@gmail.com
      - PORT=5000
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  frontend:
    image: ghcr.io/sajxx/portfolio-sajxx/frontend:latest
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_BASE=https://portfolio-sajxx.vercel.app # Replace with your backend URL
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

secrets:
  MONGODB_URI:
    external: true
  JWT_SECRET:
    external: true
  ADMIN_PASSWORD:
    external: true
  SMTP_USER:
    external: true
  SMTP_PASS:
    external: true
